{{>mustache/layouts/header}}
<!--패스워드 체크 후-->
{{#passCheck}}
    {{>mustache/layouts/infoSide}}
    <!-- 9단길이의 첫번째 열 -->
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>주문내역</h1>
            {{#payrecordList}}
                <p>주문 상품 : {{title}}</p>
                <p>가격 : {{price}}</p>
                <p>주문날짜 : {{paydate}}</p>
            <hr>
            {{/payrecordList}}
        </div>
    </div>
    </div>
    </div>
{{/passCheck}}
{{>mustache/layouts/footer}}