<style>
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }

    .obj1 {
        position: relative;
        animation: fadeInUp 1s;
    }
</style>
{{>mustache/layouts/header}}
<div class="container">
    <div class="row row-cols-4">
        {{#kateList}}
            <div class="card col" style="float:left;margin-top: 5px;margin-right: 5px">
                <img src="/images/{{title}}.jpg" class="imgg">
                <div class="card-body" style="text-align: center">
                    <h5 class="card-title">{{title}}</h5>
                    {{#userId}}
                    <button type="button" class="btn btn-primary" onclick="location.href='/clothes/basket/{{id}}'">
                        장바구니에 추가
                    </button>
                    {{/userId}}
                </div>
            </div>

        {{/kateList}}
    </div>
</div>
{{>mustache/layouts/footer}}