{{>mustache/layouts/header}}
<div class="container">
<form method="post" action="/id/check">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">이메일 주소 입력</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="id" required>
        <div id="emailHelp" class="form-text">coffee@aaaa.com 형식으로 입력해주세요</div>
        <button class="btn btn-primary" type="submit">확인</button>
    </div>
</form>
</div>
{{>mustache/layouts/footer}}