{{>mustache/layouts/header}}
<div class="container">
    <form method="post" action="/passwordSet">
        <div class="mb-3">
            <label class="form-label">재설정할 비밀번호를 입력해주세요</label>
            <input type="password" class="form-control"  name="password" required>
            <button class="btn btn-primary" type="submit">확인</button>
        </div>

        <div class="mb-3">
            <input type="hidden" class="form-control"  name="id" required value="{{findId}}">
        </div>
    </form>
</div>
{{>mustache/layouts/footer}}